  <div class = "admin_nav">
  <ol>
    <li><%= link_to "contests", contests_path%></li>
    <li><%= link_to "prizes", prizes_path%></li>
    <li><%= link_to "businesses", businesses_path%></li>
    <li><%= link_to "participations", participations_path%></li>
  </ol>
</div>

