<div class = "welcome"%>

  <% if current_user.bartender %>
    <h1>Bartender Management System </h1>
      <div id="bar_timeline">
        <% cache "timelines#{Date.today}" do %>
        <% @tweets.each do |timeline| %>
           <blockquote><%= timeline.text %></blockquote>
           <div class="from">&mdash; @<%= timeline.user[:screen_name] %></div>
         <% end %>
      </div>
      <%end%>
  <% elsif current_user.admin? %>
    <h1>System Management</h1>
    <%= link_to "System Management", admins_path %>
  <%else%>
    <h1>Check-in</h1>
    <p> Here is a list of all bars in your area.  Check in to one. </p>
    <ol>
      <% Business.all.each do |x| %>
      <li><%=link_to x.name, business_path(x)%></li>
      <%end%>
    </ol>
  <%end%>
</div>